<header class="sidebar">
    <h1 id="name" style="line-height:1.6;font-size:1rem;">Domonic Milesi</h1>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{rootPath}}index.html">Home</a>
      <a class="sidebar-nav-item" href="{{rootPath}}about.html">About</a>
    </nav>
</header>
