<header class="sidebar">
    <h1 style="line-height:1.6;font-size:1rem;margin:0;">Domonic Milesi</h1>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="{{rootPath}}index.html">Home</a>
      {{#each fundamentals}}
        <a class="sidebar-nav-item" href="{{rootPath}}{{this.path}}">{{this.title}}</a>
      {{/each}}
    </nav>
</header>
