---
layout: page.hbs
sidebar: true
title: Projects
ord: 2
---
{{#each projs}}
<ul>
    <li><a href="{{ this.url }}">{{ this.title }}</a> -- <a href="{{ this.repo }}">see the code</a></li>
</ul>
{{/each}}
