---
layout: default
title: Projs
---
<div>
  <ul>
    <li>
      {% include proj_entry.html
        title="complex weather alerts"
        repo_link="https://github.com/dom-o/complex-weather-alerts"
      %}
    </li>
    <li>
      {% include proj_entry.html
        title="spotify recommendations controller"
        repo_link="https://github.com/dom-o/spotify-recs-controller"
      %}
    </li>
    <li>
      {% include proj_entry.html
        title="route descriptor" 
        repo_link="https://github.com/dom-o/route-descriptor"
      %}
    </li>
    <li>
      {% include proj_entry.html
        title="color differentiator"
      %}
    </li>
    <li>
      {% include proj_entry.html
        title="gravity memory"
        repo_link="https://github.com/dom-o/gravity-memory"
      %}
    </li>
    <li>
      {% include proj_entry.html
        title="web pong"
        repo_link="https://github.com/dom-o/web-game"
      %}
    </li>
  </ul>
</div>
