.content {
  max-width: none;
}
p {
  margin-bottom: 2rem;
}
table {
  margin: 0rem 0rem 0.5rem;
  border-collapse: collapse;
}
th {
  border-bottom: solid #fff;
}
td {
  border-left:solid thin #fff;
}
td, th {
  /* border-left: solid thin #fff; */
  padding: 0rem 0.5rem;
  text-align: center;
}
.table-container {
  margin: 0.5rem 0rem 2rem;
  overflow-x: auto;
}
tr:nth-child(even) {
  background: #3e3e3e
}
input[type=number], input[type=text] {
  width: 5rem;
}
