<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }} - domonicmilesi.com</title>
    <meta charset="utf-8">
    <meta name="author" content="Domonic Milesi" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <link rel="shortcut icon" href="favicon.png">
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    {% if page.custom_style %}
      <style>
        {% include {{page.custom_style}} %}
      </style>
    {% endif %}
  </head>
  <body>
    <header class="sidebar">
      <div class="container">
        <h1 style="line-height:1.6;font-size:1rem;margin:0 0 0.25em 0;">Domonic Milesi</h1>
        <nav class="sidebar-nav">
          <a class="sidebar-nav-item" href="/">Home</a>
          {% for item in site.fundamentals %}
            <a class="sidebar-nav-item" href="{{ item.url }}">{{ item.title }}</a>
          {% endfor %}
        </nav>
      </div>
    </header>
    <main class="content container">
      {{ content }}
    </main>
  </body>
</html>
