---
layout: default.hbs
sidebar: true
title: About
custom_head: about
---
<p>
<a href="mailto:domonic.n.milesi@gmail.com?subject=whats%20good&body=yoo,%0d%0a">domonic.n.milesi@gmail.com</a>
 &nbsp; 
<a href="https://github.com/dom-o">github</a>
</p>
<picture>
  <source srcset="{{rootPath}}img/me_smiling_kitchen.webp" type="image/webp" />
  <img
    src="{{rootPath}}img/me_smiling_kitchen.jpg"
    alt="Domonic Milesi, smiling, hand upraised, in his kitchen."
  />
</picture>
