---
layout: default.hbs
sidebar: true
---
<ul style="padding-left:0; line-height:2;">
{{#each pages}}
  <li><a href="{{ this.url }}">{{ this.title }}</a> - {{ moment this.date 'MMMM D, YYYY' }}</li>
{{/each}}
</ul>
